body{
  display:flex;
	flex-direction: column;
	justify-content: space-around;
  background-color: #000000;
	}
  main
  {
    text-align: center;
  }
main h1
{
  font-size: 46pt;
}
#articleQ
{
font-weight: bold;

border-bottom: 3px;
border-bottom-style: solid;
border-color: #aa00ff;
}
#articleA
{
margin-top: 0;
}
