body
{
margin-top:5%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #000000;
}

#menu
{
  font-size: 14pt;
  font-family: sans-serif;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #aa00ff;
position: fixed;
top: 0;
left: 0;

width: 100%;
box-shadow: 0px 0px 20px black;
}

#menu a
{
  width: 25%;

  text-align: center;
  text-decoration: none;
  color: white;
}
#menu a:hover
{
  background-color: #7700ff;
  border-radius: 15px;
}
#home
{
font-size: 20pt;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	color: white;
}
