
@media only screen and (max-width: 800px)
{
body
{
  background-color: #ffffff;
  background-image: none;
}
#home
{
  font-size: 14pt;
}
}
@media only screen and (max-width: 400px)
{
  main h1
  {
  font-size: 32pt;
  }
}
