
body{
  display:flex;
	flex-direction: column;
	justify-content: space-around;
  background-color: #000000;
	}
h1{
  font-weight: bold;
	border-bottom: 3px;
	border-bottom-style: solid;
	border-color: #b31aff;
	font-size: 40px;
  }
summary b{
	font-size: 20px;
}
h5
{
  border-bottom: 3px;
  border-bottom-style: solid;
  border-color: #b31aff;
}
